@import url('https://fonts.googleapis.com/css2?family=Sora:wght@100;200;300;400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Sora:wght@100;200;300;400;500;600;700;800&display=swap');

:root {
    --body-large: 24px;
    --body-medium: 18px;
    --body-small: 14px;
    --overline: 15px;

    --primary-black: #060714;
    --primary-gray: #7780A1;
    --primary-white: #F1F1F6;
    --primary-blue: #2A27C9;
    --primary-pink: #EA6CBC;
    --primary-red: #FB4539;
    --second-blue-ten: #514CFF;  /* with 10% opacity*/
    --second-blue-fifteen: #514CFF;  /* with 15% opacity*/
    --primary-blue-green: #76DECC;
    --primary-blue-opacity: #2A27C9;
    --second-white: #F2F3F6;
    --second-full-white: #F2F3F6;
    --primary-white-blue: #DDE0E8;
    --primary-black-blue: #262840;
    --white: #FFFFFF;

    --first-font: "Sora";
    --second-font: "Inter";
}

body {
    background-color: var(--primary-black);
    overflow-x: hidden;
}

/* img {
    width: 100%;
} */

.logo {
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.main-header {
    position: relative;
    width: 100vw;
    height: 100vh;
    background: url('../img/header/background.png') no-repeat center;
    background-size: cover;
}

.top-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 32px 39px;
}

.main-menu ul {
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 64px;
}

.main-menu ul li,
.btn-gray,
.btn-blue {
    color: var(--primary-gray);
    font-family: var(--first-font);
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0.2px;
}

.btn-gray {
    color: var(--primary-gray);
    font-family: var(--first-font);
    border: 2px solid #262840;
    box-shadow: inset -4px -4px 4px rgba(0, 0, 0, 0.1), inset 4px 4px 4px rgba(255, 255, 255, 0.1);
    border-radius: 12px;
    padding: 16px 24px;
}

.btn-blue {
    font-family: var(--first-font);
    color: var(--white);
    background: linear-gradient(104.42deg, #4745D0 0%, #2A27C9 60.23%);
    box-shadow: inset -4px -4px 4px rgba(0, 0, 0, 0.1), inset 4px 4px 4px rgba(255, 255, 255, 0.1);
    border-radius: 12px;
    padding: 16px 24px;
    margin-left: 16px;
}

.main-title-container {
    margin: 35px 0;
}

.main-title:last-child span img {
    width: 62px;
    height: 62px;
}

.main-text {
    max-width: 640px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 188px auto;
    gap: 20px;
}

.text-item {
    z-index: 1;
    font-family: var(--second-font);
    color: var(--primary-gray);
    font-size: var(--overline);
    line-height: 18px;
    font-weight: 500;
    align-items: center;
    letter-spacing: 3px;
    text-transform: uppercase;
}

.text-item:last-child {
    text-transform: capitalize;
}

.text-item:last-child {
    font-size: var(--body-large);
}

.main-title {
    display: flex;
    font-family: var(--first-font);
    font-weight: 600;
    font-style: normal;
    font-size: 120px;
    line-height: 100%;
    text-align: 100%;
    letter-spacing: 0.2px;
    color: var(--white);
}

.main-title:nth-child(2) {
    margin-left: 75px;
}

.latest-actions {
    text-align: center;
    margin-top: 200px;
}

.subtitle {
    color: var(--white);
    font-family: var(--first-font);
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    line-height: 45px;
    letter-spacing: 0.2px;
}

.boxes-container {
    margin-top: 67px;
    display: flex;
    gap: 76px;
    flex-wrap: nowrap;
    flex-shrink: initial;
}

.test-div {
    display: grid;
    justify-content: center;
    align-items: center;
    text-align: start;
    grid-template-areas:
        "p"
        "span";
    grid-template-columns: 276px 1fr;
    margin: 24px 26px 30px 24px;
}

.logotypes {
    max-width: 624px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 0 auto;
    text-align: center;
}

.square-item {
    /* object-fit: fill; */
    width: auto;
    height: auto;
    top: 250px;
    position: absolute;
    left: -31px;
}

.big-box-item {
    background-color: var(--primary-black-blue);
    border-radius: 20px;
}

.big-box-item p {
    font-family: var(--first-font);
    color: var(--white);
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 25px;
    letter-spacing: 0.2px;
}

.boxes-img {
    text-align: center;
    margin: 24px auto 0 auto;
    border-radius: 20px;
}

.price {
    border-radius: 20px;
    text-align: center;
    width: 97px;
    height: 36px;
    background: rgba(81, 76, 255, 0.15);
    border-radius: 4px;
    padding: 8px 14px;
    font-family: var(--first-font);
    color: var(--second-blue-ten);
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0.2px;
}

.time-left {
    text-align: start;
    color: var(--white);
    font-family: var(--second-font);
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
    letter-spacing: 0.2px;
    margin: 0 0 40px 24px;
}

.people-container {
    display: flex;
    margin: 24px;
}

.bidding-people {
    display: flex;
}

.bidding-people p {
    margin: 0 55px 0 16px;
    font-family: var(--second-font);
    color: var(--primary-gray);
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
    letter-spacing: 0.2px;
}

.fav-number {
    font-family: var(--second-font);
    color: var(--primary-gray);
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
    letter-spacing: 0.2px;
}

.first-section-item p {
    font-family: var(--second-font);
    color: var(--primary-gray);
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 18px;
    letter-spacing: 3px;
    text-transform: uppercase;
}

.first-section-item p:last-child {
    font-family: var(--second-font);
    color: var(--primary-gray);
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.2px;
    text-transform: inherit;
}

.first-section-item h3 {
    font-family: 'Sora';
    font-style: normal;
    font-weight: 600;
    font-size: 64px;
    line-height: 100%;
    letter-spacing: 0.2px;
    color: #FFFFFF;
}

.qty-users {
    font-family: var(--first-font);
    color: var(--white); 
    font-style: normal;
    font-weight: 600;
    font-size: 48px;
    line-height: 115%;
    letter-spacing: 0.2px;
}

.info {
    font-family: var(--second-font);
    color: var(--primary-gray);
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    text-align: center;
    letter-spacing: 0.2px;
}

.small-menu ul li {
    font-family: var(--second-font);
    color: var(--primary-gray);
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
    text-align: center;
    letter-spacing: 0.2px;
}

.menu ul li {
    font-family: var(--first-font);
    color: var(--white);
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    letter-spacing: 0.2px;
}

.footer-right p {
    font-family: var(--second-font);
    color: var(--primary-gray);
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.2px;
}

.newsletter {
    background-color: var(--white);
}

.newsletter span {
    font-family: var(--second-font);
    color: var(--primary-gray);
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 0.2px;
}

.newsletter a {
    font-family: var(--first-font);
    color: var(--primary-blue-opacity);
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    letter-spacing: 0.2px;
}