@import url('https://fonts.googleapis.com/css2?family=Sora:wght@100;200;300;400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Sora:wght@100;200;300;400;500;600;700;800&display=swap');

:root {
    --body-large: 24px;
    --body-medium: 18px;
    --body-small: 14px;
    --overline: 15px;

    --primary-black: #060714;
    --primary-gray: #7780A1;
    --primary-white: #F1F1F6;
    --primary-blue: #2A27C9;
    --primary-pink: #EA6CBC;
    --primary-red: #FB4539;
    --second-blue-ten: #514CFF;  /* with 10% opacity*/
    --second-blue-fifteen: #514CFF;  /* with 15% opacity*/
    --primary-blue-green: #76DECC;
    --primary-blue-opacity: #2A27C9;
    --second-white: #F2F3F6;
    --second-full-white: #F2F3F6;
    --primary-white-blue: #DDE0E8;
    --primary-black-blue: #262840;
    --white: #FFFFFF;

    --first-font: "Sora";
    --second-font: "Inter";
}

html {
    font-size: 62.5%;
}

body {
    background-color: var(--primary-black);
    overflow-x: hidden;
}

img {
    width: 100%;
}

.logo-container {
    display: flex;
    align-items: center;
    margin-bottom: auto;
    gap: 15px;
}

.logo {
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.main-header {
    position: relative;
    width: 100vw;
    height: 100vh;
    background: url('../img/header/background.png') no-repeat center;
    background-size: cover;
    margin-bottom: 200px;
}

.top-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 32px 39px;
}

.main-menu ul {
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 64px;
}

.main-menu ul li,
.btn-gray,
.btn-blue,
.newsletter,
.menu-footer,
.small-menu,
.social-media
 {
    cursor: pointer;
    color: var(--primary-gray);
    font-family: var(--first-font);
    font-style: normal;
    font-weight: 600;
    font-size: 1.6rem;
    line-height: 2rem;
    letter-spacing: 0.02rem;
}

.button-right {
    display: flex;
    gap: 16px;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.btn-gray {
    color: var(--primary-gray);
    font-family: var(--first-font);
    border: 2px solid #262840;
    box-shadow: inset 4px 4px 4px rgba(0, 0, 0, 0.1), inset 4px 4px 4px rgba(255, 255, 255, 0.1);
    border-radius: 12px;
    padding: 16px 24px;
}

.btn-blue {
    font-family: var(--first-font);
    color: var(--white);
    background: linear-gradient(104.42deg, #4745D0 0%, #2A27C9 60.23%);
    box-shadow: inset 4px 4px 4px rgba(0, 0, 0, 0.1), inset 4px 4px 4px rgba(255, 255, 255, 0.1);
    border-radius: 12px;
    padding: 16px 24px;
    margin-left: 16px;
}

.main-title-container {
    margin: 35px 0;
}

.main-title:last-child span img {
    width: 62px;
    height: 62px;
}

.main-text {
    max-width: 64rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 188px auto;
    gap: 20px;
}

.text-item {
    z-index: 1;
    font-family: var(--second-font);
    color: var(--primary-gray);
    font-size: 1.5rem;
    line-height: 1.8rem;
    font-weight: 500;
    align-items: center;
    letter-spacing: 0.3rem;
    text-transform: uppercase;
}

.text-item:last-child {
    font-size: 2.4rem;
    text-transform: capitalize;
}

.main-title {
    display: flex;
    font-family: var(--first-font);
    font-weight: 600;
    font-style: normal;
    font-size: 12rem;
    line-height: 100%;
    text-align: 100%;
    letter-spacing: 0.02rem;
    color: var(--white);
}

.main-title:nth-child(2) {
    margin-left: 75px;
}

.latest-actions {
    text-align: center;
    margin-top: 20px;
    position: relative;
}

.subtitle {
    color: var(--white);
    font-family: var(--first-font);
    font-style: normal;
    font-weight: 600;
    font-size: 3.6rem;
    line-height: 4.5rem;
    letter-spacing: 0.02rem;
}

.arrow {
    position: absolute;
    bottom: 420px;
    right: 150px;
    cursor: pointer;
}

.boxes-container {
    margin-top: 67px;
    display: flex;
    gap: 76px;
    flex-wrap: nowrap;
    flex-shrink: initial;
    justify-content: center;
}

.description {
    display: grid;
    justify-content: center;
    align-items: center;
    text-align: start;
    grid-template-areas:
        "p"
        "span";
    grid-template-columns: 276px 1fr;
    margin: 24px 26px 3px 24px;
}

.logotypes {
    max-width: 624px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 0 auto;
    text-align: center;
}

.square-item {
    /* object-fit: fill; */
    width: auto;
    height: auto;
    top: 250px;
    position: absolute;
    left: -5px;
}

.big-box-item {
    background-color: rgba(38, 40, 64, 0.15);
    border-radius: 20px;
}

.big-box-item p {
    font-family: var(--first-font);
    color: var(--white);
    font-style: normal;
    font-weight: 600;
    font-size: 2rem;
    line-height: 2.5rem;
    letter-spacing: 0.02rem;
}

.big-box-img {
    text-align: center;
    margin: 24px auto 0 auto;
    border-radius: 20px;
}

.small-box-img {
    display: none;
}

.price {
    border-radius: 20px;
    text-align: center;
    width: 97px;
    height: 36px;
    background: rgba(81, 76, 255, 0.15);
    border-radius: 4px;
    padding: 8px 14px;
    font-family: var(--first-font);
    color: var(--second-blue-ten);
    font-style: normal;
    font-weight: 600;
    font-size: 1.6rem;
    line-height: 2rem;
    letter-spacing: 0.02rem;
}

.time-left {
    display: flex;
    align-items: center;
    text-align: start;
    color: var(--white);
    font-family: var(--second-font);
    font-style: normal;
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 150%;
    letter-spacing: 0.02rem;
    margin: 20px 24px 40px 24px;
}

.time {
    margin-right: 10px;
}

.time-left img {
    width: 14px;
    margin-right: 10px;
}

.people-container {
    display: flex;
    margin: 24px;
    position: relative;
    justify-content: flex-end;
}

.bidding-people img {
    width: 32px;
}

.avatars {
    margin-bottom: auto;
}

.avatar {
    position: absolute;
    right: 350px;
}

.avatar-1 {
    position: absolute;
    right: 325px;
}

.avatar-2 {
    position: absolute;
    right: 300px;
}

.avatar-3 {
    position: absolute;
    right: 275px;
}

.bidding-people {
    display: flex;
    align-items: center;
}

.bidding-people p {
    margin: 0 55px 0 16px;
    font-family: var(--second-font);
    color: var(--primary-gray);
    font-style: normal;
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 150%;
    letter-spacing: 0.02rem;
}

.fav {
    display: flex;
    align-items: center;
    gap: 10px;
}

.fav-number {
    font-family: var(--second-font);
    color: var(--primary-gray);
    font-style: normal;
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 150%;
    letter-spacing: 0.02rem;
}

.first-section {
    display: grid;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    justify-items: center;
    margin: 0 auto;
    text-align: center;
    align-items: center;
}

.first-section-item {
    display: grid;
    gap: 20px;
}

.container {
    max-width: 1392px;
    max-height: 616px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    text-align: center;
    justify-content: center;
    margin: 0 auto;
}

.left-item {
    display: grid;
    gap: 48px;
    text-align: start;
}

.first-section-item p {
    font-family: var(--second-font);
    color: var(--primary-gray);
    font-style: normal;
    font-weight: 500;
    font-size: 1.5rem;
    line-height: 1.8rem;
    letter-spacing: 0.3rem;
    text-transform: uppercase;
}

.first-section-item p:last-child {
    font-family: var(--second-font);
    color: var(--primary-gray);
    font-style: normal;
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 150%;
    letter-spacing: 0.02rem;
    text-transform: inherit;
}

.first-section-item h3 {
    font-family: 'Sora';
    font-style: normal;
    font-weight: 600;
    font-size: 6.4rem;
    line-height: 100%;
    letter-spacing: 0.02rem;
    color: #FFFFFF;
}

.btn-first-section a {
    margin: auto 16px auto 0;
}

.right-item {
    background-color: #7780A1;
    max-width: 684px;
    max-height: 616px;
    position: relative;
}

.paint-bucket {
    position: absolute;
    right: -9px;
    bottom: -131px;
}

.colered {
    position: absolute;
    top: -75px;
    right: 247px;
}

.section-with-icons {
    text-align: center;
    display: flex;
    width: 100vw;
    height: 100vh;
    align-items: center;
    justify-content: center;
    gap: 100px;
}

.container-section-info {
    max-width: 920px;
    max-height: 135px;
    display: grid;
    grid-template-areas: 
        "icon"
        "number"
        "category";
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 16px;
    justify-items: center;
}

.container-section-info > img {
    grid-area: icon;
}

.container-section-info > .qty-users {
    grid-area: number;
    }

.container-section-info > .info {
    grid-area: category;
}

.qty-users {
    font-family: var(--first-font);
    color: var(--white); 
    font-style: normal;
    font-weight: 600;
    font-size: 4.8rem;
    line-height: 115%;
    letter-spacing: 0.02rem;
}

.info {
    font-family: var(--second-font);
    color: var(--primary-gray);
    font-style: normal;
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 150%;
    text-align: center;
    letter-spacing: 0.02rem;
}

.main-footer {
    display: grid;
    margin: 0 auto;
    grid-template-columns: repeat(3, 1fr);
    max-width: 1392px;
    height: 397px;
    text-align: center;
}

.footer-left {
    display: grid;
    justify-items: start;
    margin: 54px auto 0 auto;
}

.small-menu {
    margin: auto;
}

.small-menu ul {
    display: flex;
    flex-direction: row;
    gap: 40px;
    justify-content: center;
}

.small-menu ul li {
    font-family: var(--second-font);
    color: var(--primary-gray);
    font-style: normal;
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 150%;
    text-align: center;
    letter-spacing: 0.02rem;
}

.footer-mid {
    display: grid;
    justify-content: center;
    align-items: start;
    justify-items: start;
    margin: 54px auto 0 auto;
}

.menu-footer ul {
    display: grid;
    justify-items: start;
    gap: 20px;
}

.social-media {
    display: flex;
    gap: 20px;
    align-items: center;
}

.menu-footer ul li {
    font-family: var(--first-font);
    color: var(--white);
    font-style: normal;
    font-weight: 600;
    font-size: 1.6rem;
    line-height: 2rem;
    text-align: center;
    letter-spacing: 0.02rem;
}

.footer-right {
    display: grid;
    align-items: start;
    margin: 54px 50px;
}

.btn-footer {
    margin: 0;
}

.footer-right p {
    font-family: var(--second-font);
    color: var(--primary-gray);
    font-style: normal;
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 150%;
    letter-spacing: 0.02rem;
    text-align: justify;
}

.newsletter {
    display: flex;
    background-color: var(--white);
    box-shadow: 0px 25px 75px rgba(6, 7, 20, 0.1);
    border-radius: 1.6rem;
    padding: 20px 50px;
    justify-content: space-between;
    margin-top: auto;
}

.newsletter span {
    font-family: var(--second-font);
    color: var(--primary-gray);
    font-style: normal;
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 1.9rem;
    letter-spacing: 0.02rem;
}

.newsletter a {
    font-family: var(--first-font);
    color: var(--primary-blue-opacity);
    font-style: normal;
    font-weight: 600;
    font-size: 1.6rem;
    line-height: 2rem;
    text-align: center;
    letter-spacing: 0.02rem;
}

@media (min-width: 1200px)  and (max-width: 1919px) {
    .main-header {
        width: 100vw;       
        height: 120vh;
    }
    .container {
        max-width: 1100px;
    }
    .paint-bucket, .colered {
        width: 320px;
        height: 320px;
    }
    .paint-bucket {
        right: 55px;
        bottom: -106px;
    }
}

@media (max-width: 600px) {
    .main-header {
        width: 100vw;
        height: 150vh;
    }

    .square-item {
        display: none;
    }

    .top-bar {
        gap: 40px;
    }
    
    .top-bar, 
    .main-menu ul,
    .button-right,
    .boxes-container,
    .section-with-icons {
        flex-direction: column;   
    }
    
    .main-footer {
        display: flex;
        flex-direction: column;
    }

    .main-text {
        margin: 40px auto;
        flex-wrap: wrap;
    }

    .text-item {
        font-size: 0.6rem;
        line-height: 0.8rem;
        letter-spacing: 0.2rem;
    }

    .text-item:last-child {
        font-size: 0.8rem
    }

    .main-title {
        font-size: 2rem;
    }


    .main-title:nth-child(2) {
        margin-left: 25px;
    }

    .main-title span {
        position: relative;
        width: 10px;
        height: 22.8px;
    }

    .main-title:last-child span img {
        width: 22px;
        height: 22px;
        bottom: 3px;
        right: 15px;
    }

    .main-title span img {
        position: relative;
        bottom: 36px;
        right: -2px;
    }

    .logotypes {
        flex-wrap: wrap;
        gap: 20px;
    }

    .subtitle {
        font-size: 2rem;
        line-height: 2.5rem;
    }

    .big-box-item {
        display: none;
    }

    .small-box-item {
        display: grid !important;
        grid-template-rows: 60px 30px 30px;
        position: relative;
        max-width: 368px;
        max-height: 120px;
        display: block;
    }
    
    .description {
        margin: 0 20px;
        grid-row: 1;
        grid-column: 2;
    }

    .time-left {
        grid-row: 2;
        grid-column: 2;
        margin: 0 20px;
    }

    .people-container {
        grid-row: 3;
        grid-column: 2;
        margin: 16px 20px 0 20px !important;
        justify-content: flex-start !important;
        align-items: flex-end;
        gap: 57px;
    }

    .bidding-people p {
        margin: 0 !important;
    }

    .arrow img {
        display: none;
    }

    .boxes-container {
        gap: 20px;       
        align-items: center;
    }

    .avatars img, .fav-number {
        display: none;
    }

    .big-box-img {
        display: none;
    }

    .small-box-img {
        display: block;
        width: 120px;
        height: 120px;
    }
    
    .description p {
        font-size: 1.6rem;
    }

    .price {
        position: absolute;
        right: -10px;
        bottom: 20px;
        width: 76px;
        height: 28px;
    }
    
    .time-unity {
        display: none;
    }

    .container {
        grid-template-columns: 1fr;
    }

    .left-item {
        max-width: 370px;
    }

    .img-section {
        display: none;
    }

    .first-section-item p {
        font-size: 1.4rem;
        line-height: 1.8rem;
        letter-spacing: 0.3rem;
    }
    
    .first-section-item p:last-child {
        font-size: 1.4rem;
        line-height: 150%;
        letter-spacing: 0.02rem;
    }
    
    .first-section-item h3 {
        font-size: 3.2rem;
        line-height: 100%;
        letter-spacing: 0.02rem;
    }
}