{% load static %}


<section class="first-section">
    <div class="first-section-items">
        <div class="first-section-item text">
            <p>Overline</p>
            <h3>Sapien ipsum scelerisque convallis fusce</h3>
            <p>Ut amet vulputate faucibus vitae semper eget auctor. Diam tempor pulvinar ultricies dolor feugiat
                aliquam commodo.</p>
        </div>
        <div class="btn">
            <a class="btn" href="#">Get started</a>
            <a class="btn" href="#">Learn more</a>
        </div>

        <div class="img-section">
            <img src="{% static 'global/img/img_section/image.png' %}" alt="">
            <img src="{% static 'global/img/img_section/image-1.png' %}" alt="">
        </div>
    </div>
</section>