{% load static %}


<section class="first-section">
    <div class="container">
        <div class="left-item">
            <div class="first-section-item text">
                <p>Overline</p>
                <h3>Sapien ipsum scelerisque convallis fusce</h3>
                <p>Ut amet vulputate faucibus vitae semper eget auctor. Diam tempor pulvinar ultricies dolor feugiat aliquam commodo.</p>
            </div>
            <div class="btn-first-section">
                <a class="btn-blue" href="#">Get started</a>
                <a class="btn-gray" href="#">Learn more</a>
            </div>
        </div>
        <div class="right-item">
            <div class="img-section">
                <img class="paint-bucket" src="{% static 'global/img/img_section/image.png' %}" alt="">
                <img class="colered" src="{% static 'global/img/img_section/image-1.png' %}" alt="">
            </div>
        </div>
    </div>
</section>