{% load static %}

<footer>
    <div class="left">
        <div class="small-menu">
            <ul>
                <li><a href="#"></a>Support</li>
                <li><a href="#"></a>Term of service</li>
                <li><a href="#"></a>License</li>
            </ul>
        </div>
    </div>

    <div class="mid">
        <div class="menu">
            <ul>
                <li><a href="#"></a>Auctions</li>
                <li><a href="#"></a>Roadmap</li>
                <li><a href="#"></a>Discover</li>
                <li><a href="#"></a>Community</li>
            </ul>
        </div>
        <a href="#" class="btn">My account</a>

        <div class="social-media">

        </div>
    </div>

    <div class="right">
        <p>Nibh volutpat, aliquam id sagittis elementum. Pellentesque laoreet velit, sed egestas in. Id nam semper
            dolor tellus vulputate eget turpis.</p>

        <div class="newsletter">
            <a href="#">Sign in</a>
        </div>
    </div>
</footer>