{% load static %}

<footer class="main-footer">
    <div class="footer-left">
        <div class="logo-container">
            <img width="34" height="34" src="{% static 'global/img/logo/sygnet.svg' %}" alt="">
            <img width="160" height="20" src="{% static 'global/img/logo/logo-white.svg' %}" alt="">
        </div>
        <div class="small-menu">
            <ul>
                <li><a href="#"></a>Support</li>
                <li><a href="#"></a>Term of service</li>
                <li><a href="#"></a>License</li>
            </ul>
        </div>
    </div>

    <div class="footer-mid">
        <div class="menu-footer">
            <ul>
                <li><a href="#"></a>Auctions</li>
                <li><a href="#"></a>Roadmap</li>
                <li><a href="#"></a>Discover</li>
                <li><a href="#"></a>Community</li>
            </ul>
        </div>
        <a href="#" class="btn-blue btn-footer">My account</a>

        <div class="social-media">
            <img src="{% static 'global/img/social_media_icons/vector.svg' %}" alt="Facebook icon">
            <img src="{% static 'global/img/social_media_icons/vector-1.svg' %}" alt="Linkedin icon">
            <img src="{% static 'global/img/social_media_icons/vector-2.svg' %}" alt="GitHub icon">
            <img src="{% static 'global/img/social_media_icons/vector-3.svg' %}" alt="Twitter icon">
            <img src="{% static 'global/img/social_media_icons/vector-4.svg' %}" alt="Instagram icon">
        </div>
    </div>

    <div class="footer-right">
        <p>Nibh volutpat, aliquam id sagittis elementum. Pellentesque laoreet velit, sed egestas in. Id nam semper
            dolor tellus vulputate eget turpis.</p>

        <div class="newsletter">
            <span>Newsletter</span>
            <a href="#">Sign in</a>
        </div>
    </div>
</footer>