{% load static %}

<header class="main-header">
    <div class="top-bar">
        <div class="logo">
            <img class="sygnet" src="{% static 'global/img/logo/sygnet.svg' %}" alt="Website main logo">
            <img class="logo-name" src="{% static 'global/img/logo/logo.svg' %}" alt="Website name">
        </div>
        <nav class="main-menu">
            <ul>
                <li>Auctions</li>
                <li>Roadmap</li>
                <li>Discover</li>
                <li>Community</li>
            </ul>
        </nav>
        <div class="button-right">
            <a class="btn-contact" href="#">Contact</a>
            <a class="btn-account" href="#">My account</a>
        </div>
    </div>

    <div class="main-text">
        <p class="text-item">Non Fungible Tokens</p>
        <div class="frame">
            <h1 class="main-title">A new NFT Experience</h1>
        </div>
        <p class="text-item">Discover, collect and sell</p>
    </div>

    <div class="logotypes">
        <img src="{% static 'global/img/logotypes/vector.svg' %}" alt="">
        <img src="{% static 'global/img/logotypes/vector-1.svg' %}" alt="">
        <img src="{% static 'global/img/logotypes/vector-2.svg' %}" alt="">
        <img src="{% static 'global/img/logotypes/vector-3.svg' %}" alt="">
    </div>

    <div class="squares">
        <div class="square-item">
            <img src="{% static 'global/img/squares/image-1.png' %}" alt="">
            <span>2.55 ETH</span>
            <img src="{% static 'global/img/squares/image.png' %}" alt="">
        </div>
    </div>
</header>