{% load static %}

<header>
    <div class="top-bar">
        <nav>
            <ul>
                <li>Auctions</li>
                <li>Roadmap</li>
                <li>Discover</li>
                <li>Community</li>
            </ul>
        </nav>
    </div>

    <div class="text">
        <p>Non Fungible Tokens</p>
        <div class="frame">
            <h1>A new NFT Experience</h1>
        </div>
        <p>Discover, collect and sell</p>
    </div>

    <div class="logotypes">
        <img src="{% static 'global/img/logotypes/vector.svg' %}" alt="">
        <img src="{% static 'global/img/logotypes/vector-1.svg' %}" alt="">
        <img src="{% static 'global/img/logotypes/vector-2.svg' %}" alt="">
        <img src="{% static 'global/img/logotypes/vector-3.svg' %}" alt="">
    </div>

    <div class="squares">
        <div class="square">
            <img src="{% static 'global/img/squares/image-1.png' %}" alt="">
            <span>2.55 ETH</span>
            <img src="{% static 'global/img/squares/image.png' %}" alt="">
        </div>
    </div>
</header>