{% load static %}

<header class="main-header">
    <div class="top-bar">
        <div class="logo">
            <img width="34" height="34" class="sygnet"
            src="{% static 'global/img/logo/sygnet.svg' %}" alt="Website main logo">
            <img width="160" height="20" class="logo-name"
            src="{% static 'global/img/logo/logo.svg' %}" alt="Website name">
        </div>
        <nav class="main-menu">
            <ul>
                <li>Auctions</li>
                <li>Roadmap</li>
                <li>Discover</li>
                <li>Community</li>
            </ul>
        </nav>
        <div class="button-right">
            <a class="btn-gray" href="#">Contact</a>
            <a class="btn-blue" href="#">My account</a>
        </div>
    </div>

    <div class="main-text">
        <p class="text-item">Non Fungible Tokens</p>
        <div class="main-title-container">
            <h1 class="main-title">
                A new NFT
                <span><img width="40" height="91" src="{% static 'global/img/text_frames/vector-2.svg' %}" alt=""></span>
            </h1>

            <h1 class="main-title">
                <span><img width="62" height="62" src="{% static 'global/img/text_frames/frame_experience.svg' %}" alt=""></span>
                Experience
            </h1>
        </div>
        <p class="text-item">Discover, collect and sell</p>
    </div>

    <div class="logotypes">
        <img width="60" height="45" src="{% static 'global/img/logotypes/vector.svg' %}" alt="">
        <img width="83" height="43" src="{% static 'global/img/logotypes/vector-1.svg' %}" alt="">
        <img width="68" height="45" src="{% static 'global/img/logotypes/vector-2.svg' %}" alt="">
        <img width="50" height="45" src="{% static 'global/img/logotypes/vector-3.svg' %}" alt="">
    </div>

    <div class="square-item">
        <img class="square-img" height="608" width="1851" src="{% static 'global/img/squares/squares.png' %}" alt="">
    </div>
</header>