{% load static %}

<main class="latest-actions">
    <h2>Latest live actions</h2>
    <span class="arrow"></span>

    <div class="boxes-items">
        <div class="big-box-item">
            <img src="{% static 'global/img/boxes_img/image.png' %}" alt="">
            <p>Tristique diam a, enim, eros tellus. Viverra etiam</p>
            <span class="price">2.55 ETH</span>
            <div class="time-left">
                <span>57:15 min left</span>
            </div>
            <div class="bidding-people">
                <p>14 people are bidding</p>
            </div>
        </div>
    </div>
</main>