{% load static %}

<section class="section-with-icons">
    <div class="flex-icons user-active">
        <img src="{% static 'global/img/section_with_icons/vector.svg' %}" alt="">
        <span>300k</span>
        <span>User Active</span>
    </div>
    <div class="flex-icons artworks">
        <img src="{% static 'global/img/section_with_icons/vector-1.svg' %}" alt="">
        <span>52,5k</span>
        <span>Artworks</span>
    </div>
    <div class="flex-icons artists">
        <img src="{% static 'global/img/section_with_icons/vector-2.svg' %}" alt="">
        <span>17,5k</span>
        <span>Artists</span>
    </div>
    <div class="flex-icons eth-spent">
        <img src="{% static 'global/img/section_with_icons/vector-3.svg' %}" alt="">
        <span>35.58</span>
        <span>ETH Spent</span>
    </div>
</section>