{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nft Code Challenge</title>
    <link rel="stylesheet" href="{% static 'global/css/reset.css' %}">
    <link rel="stylesheet" href="{% static 'global/css/style.css' %}">
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
</head>

<body>
    <header>
        <div class="top-bar">
            <nav>
                <ul>
                    <li>Auctions</li>
                    <li>Roadmap</li>
                    <li>Discover</li>
                    <li>Community</li>
                </ul>
            </nav>
        </div>

        <div class="text">
            <p>Non Fungible Tokens</p>
            <div class="frame">
                <h1>A new NFT Experience</h1>
            </div>
            <p>Discover, collect and sell</p>
        </div>

        <div class="logotypes">
            <img src="{% static 'global/img/logotypes/vector.svg' %}" alt="">
            <img src="{% static 'global/img/logotypes/vector-1.svg' %}" alt="">
            <img src="{% static 'global/img/logotypes/vector-2.svg' %}" alt="">
            <img src="{% static 'global/img/logotypes/vector-3.svg' %}" alt="">
        </div>

        <div class="squares">
            <div class="square">
                <img src="{% static 'global/img/squares/image-1.png' %}" alt="">
                <span>2.55 ETH</span>
                <img src="{% static 'global/img/squares/image.png' %}" alt="">
            </div>
        </div>
    </header>

    <main class="latest-actions">
        <h2>Latest live actions</h2>
        <span class="arrow"></span>

        <div class="boxes-items">
            <div class="big-box-item">
                <img src="{% static 'global/img/boxes_img/image.png' %}" alt="">
                <p>Tristique diam a, enim, eros tellus. Viverra etiam</p>
                <span class="price">2.55 ETH</span>
                <div class="time-left">
                    <span>57:15 min left</span>
                </div>
                <div class="bidding-people">
                    <p>14 people are bidding</p>
                </div>
            </div>
        </div>


    </main>

    <section class="first-section">
        <div>
            <div class="text">
                <p>Overline</p>
                <h3>Sapien ipsum scelerisque convallis fusce</h3>
                <p>Ut amet vulputate faucibus vitae semper eget auctor. Diam tempor pulvinar ultricies dolor feugiat
                    aliquam commodo.</p>
            </div>
            <div class="btn">
                <a href="#">Get started</a>
                <a href="#">Learn more</a>
            </div>

            <div class="img-section">
                <img src="{% static 'global/img/img_section/image.png' %}" alt="">
                <img src="{% static 'global/img/img_section/image-1.png' %}" alt="">
            </div>
        </div>
    </section>

    <section class="section-with-icons">
        <div class="flex-icons user-active">
            <img src="{% static 'global/img/section_with_icons/vector.svg' %}" alt="">
            <span>300k</span>
            <span>User Active</span>
        </div>
        <div class="flex-icons artworks">
            <img src="{% static 'global/img/section_with_icons/vector-1.svg' %}" alt="">
            <span>52,5k</span>
            <span>Artworks</span>
        </div>
        <div class="flex-icons artists">
            <img src="{% static 'global/img/section_with_icons/vector-2.svg' %}" alt="">
            <span>17,5k</span>
            <span>Artists</span>
        </div>
        <div class="flex-icons eth-spent">
            <img src="{% static 'global/img/section_with_icons/vector-3.svg' %}" alt="">
            <span>35.58</span>
            <span>ETH Spent</span>
        </div>
    </section>

    <footer>
        <div class="left">
            <div class="small-menu">
                <ul>
                    <li><a href="#"></a>Support</li>
                    <li><a href="#"></a>Term of service</li>
                    <li><a href="#"></a>License</li>
                </ul>
            </div>
        </div>

        <div class="mid">
            <div class="menu">
                <ul>
                    <li><a href="#"></a>Auctions</li>
                    <li><a href="#"></a>Roadmap</li>
                    <li><a href="#"></a>Discover</li>
                    <li><a href="#"></a>Community</li>
                </ul>
            </div>
            <a href="#" class="btn">My account</a>

            <div class="social-media">

            </div>
        </div>

        <div class="right">
            <p>Nibh volutpat, aliquam id sagittis elementum. Pellentesque laoreet velit, sed egestas in. Id nam semper
                dolor tellus vulputate eget turpis.</p>

            <div class="newsletter">
                <a href="#">Sign in</a>
            </div>
        </div>
    </footer>
    <script src="{% static 'global/js/index.js' %}"></script>
</body>

</html>