{% load static %}

<!DOCTYPE html>
<html lang="en">
    
<head>
    
    {% include 'global/partials/head.html' %}
    <title>Nft Code Challenge</title>
</head>

<body>
   {% include 'global/partials/header.html' %}

   {% include 'global/partials/main.html' %}

   {% include 'global/partials/first_section.html' %}

   {% include 'global/partials/section_with_icons.html' %}
    
   {% include 'global/partials/footer.html' %}
    <script src="{% static 'global/js/index.js' %}"></script>
</body>

</html>